{% extends 'base.html' %}

{% block title %} Join Membership {% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2 class="mt-4 mb-4">Join Membership</h2>
            <form method="post" enctype="multipart/form-data" id="enquiry-form">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-warning">Make Payment</button>
            </form>
            <br>
        </div>
    </div>
</div>
{% endblock %}

