{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Gym Client Management System</title>
    <link rel="icon" href="https://cdn.fitimg.in/studio_logo_7C5F98EA46D9B7.jpg">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <header>
        {% include 'Clientsapp/nav.html' %}
    </header>
    <div class="container">

        {% block content %}

        <div class="jumbotron">
            <h1 class="display-4">Welcome to the Gym Client Management System</h1>
            <p class="lead">This system is designed and developed in Django.</p>
            <hr class="my-4">
            <p>It provides features for managing gym clients, including adding plans, managing member details, and handling enquiries.</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </div>

        {% endblock %}

    </div>
    
    <footer class="bg-dark text-white py-4">
        <div class="container text-center">
            <p class="lead mb-0">PowerFit &copy; 2023. All rights reserved.</p>
        </div>
    </footer>
    
    
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
