{% extends 'base.html' %}

{% block title %}Gym Client Management Home{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="jumbotron bg-light">
        <h1 class="display-4 text-center">Welcome to PowerFit</h1>
        <p class="lead text-center">Start a better shape of you! Come Join Us</p>
        <hr class="my-4">
        <p class="lead">POWERFIT GYM FOR MEN & WOMEN</p>
        <p>PowerFit Gym Fitness Center provides proper training to transform your body with programs tailored to your body composition.</p>
        
        <h2 class="mt-5">Join Our Membership :</h2>
        <h2>Our Plans :</h2>
        <hr class="my-4">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <ul class="list-group">
                    {% for plan in plans %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div>
                            <h4>{{ plan.name }}</h4>
                            <p>{{ plan.duration }}</p>
                        </div>
                        <div>
                            <h5>{{ plan.amount }} Rs</h5>
                            <h5 style="text-decoration: line-through; color: rgba(0, 0, 0, 0.525);">{{ plan.discounted_amount }} Rs</h5>

                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <br>

        <h2>Visit Our Gym</h2>
        <hr class="my-4">
        <address><strong>Address: </strong>State Highway 78, near Shri Anant Ice Factory, Chiplun, Maharashtra 415605</address>
        <p><strong>Email: </strong> atharvapawar@gmail.com</p>
        <p><strong>Contact Number: </strong> 9122132435</p>
        

        <h2 class="mt-5">Enquiry :</h2>
        <hr class="my-4">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <form method="post" enctype="multipart/form-data" id="enquiry-form">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-warning btn-block mt-3">Inform Us!</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
