<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="padding: 15px;">
    <a class="navbar-brand" href="{% url 'home' %}" style="font-size: 24px;">PowerFit</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="ml-auto">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}" style="font-size: 20px;">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'plan_view' %}" style="font-size: 20px;">View Plans</a>
                </li>
                {% if request.user.is_authenticated %}
                    {% if request.user.is_staff %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'add_plan' %}" style="font-size: 20px;">Add Plan</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMembers" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size: 20px;">
                                Members
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMembers">
                                {% if request.user.is_staff %}
                                <a class="dropdown-item" href="{% url 'add_member' %}">Add Member</a>
                                <a class="dropdown-item" href="{% url 'view_members' %}">View Members</a>
                            </div>
                                {% else %}
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMembers">
                                <a class="dropdown-item" href="{% url 'view_members' %}">View Members</a>
                            </div>
                                {% endif %}
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownEnquiries" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size: 20px;">
                                Enquiries
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownEnquiries">
                                {% if request.user.is_staff %}
                                <a class="dropdown-item" href="{% url 'add_enquiry' %}">Add Enquiry</a>
                                <a class="dropdown-item" href="{% url 'view_enquiry' %}">View Enquiries</a>
                            </div>
                                {% else %}
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownEnquiries">
                                <a class="dropdown-item" href="{% url 'add_enquiry' %}">Add Enquiry</a>
                            </div>
                                {% endif %}
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}" style="font-size: 20px;">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}" style="font-size: 20px;">Login</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
