{% extends 'base.html' %}

{% block title %} Plans List Page {% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 offset-md-2">
    <h2 class="mt-4 mb-4">Plans</h2>
    <form class="form-inline mb-4" action="{% url 'plan_results' %}" method="GET">
        <div class="form-group mr-2">
            <input type="text" name="plan_search" class="form-control" 
            placeholder="Search by name" value="{{ plan_query }}">
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>   
    <ul class="list-group">
        {% for plan in plans %}
            <li class="list-group-item">
                <div class="d-flex w-100 justify-content-between">
                    <h2><a href="#" style="text-decoration: none;">{{ plan.name }}</a></h2>
                    <h3> {{ plan.amount }} Rs</h3>
                    <h4>{{ plan.duration }}</h4>
                    {% if request.user.is_staff %}
                    <form method="post" action="{% url 'update_plan' plan.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-warning">Update</button>
                    </form>
                    <form method="post" action="{% url 'remove_from_plan' plan.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Remove</button>
                    </form>
                    {% endif %}
                </div>
            </li>
        {% endfor %}
    </ul>
    <br>
    </div>
</div>
{% endblock %}


