{% extends 'base.html' %}

{% block title %} View Members {% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <h2 class="text-center mb-4">Members Joined</h2>
            <form class="form-inline mb-4" action="{% url 'member_results' %}" method="get">
                <div class="form-group mr-2">
                    <input type="text" name="member_search" class="form-control"
                    placeholder="Search By Name" value="{{ member_query }}">
                </div>
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
            <h6 class="text-right mt-2">Today is : {% now "d-m-y" %}</h6>
            <div class="card">
                <ul class="list-group list-group-flush">
                    {% for member in members %}
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-8">
                                    <h4>ID : {{ member.id }}</h4>
                                    <h3>{{ member.name }}</h3>
                                    <p><strong>Phone:</strong> {{ member.phone }}</p>
                                    <p><strong>Email:</strong> {{ member.email }}</p>
                                    <p><strong>Age:</strong> {{ member.age }}</p>
                                    <p><strong>Gender:</strong> {{ member.get_gender_display }}</p>
                                    <p><strong>Enrolled On:</strong> {{ member.enrolled_on|date:"F d, Y" }}</p>
                                </div>
                                <div class="col-md-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">Plan: {{ member.plan }}</h5>
                                            <p class="card-text"><strong>Total Fees:</strong> {{ member.total_fees }}</p>
                                        </div>
                                        <div class="card-body">
                                            {% if request.user.is_staff %}
                                            <form method="post" action="{% url 'update_member' member.id %}" class="col-md-5">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-warning">Update</button>
                                            </form>
                                            {% endif %}
                                        </div>
                                        <div class="card-body">
                                            {% if request.user.is_staff %}
                                            <form method="post" action="{% url 'remove_from_member' member.id %}" class="col-md-5">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-danger">Remove</button>
                                            </form>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
                <br>
            </div>
        </div>
    </div>
</div>
{% endblock %}
