{% extends 'base.html' %}

{% block title %} View Enquiries {% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <h2 class="text-center mb-4">View Enquiries</h2>
            <form class="form-inline mb-4" action="{% url 'enquiry_results' %}" method="GET">
                <div class="form-group mr-2">
                    <input type="text" name="enquiry_search" class="form-control" 
                    placeholder="Search by name" value="{{ enquiry_query }}">
                </div>
                <button type="submit" class="btn btn-primary">Search</button>
            </form> 
            <div class="card">
                <ul class="list-group list-group-flush">
                    {% for enquiry in enquiries %}
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-8">
                                    <h3>{{ enquiry.name }}</h3>
                                    <p><strong>Email:</strong> {{ enquiry.email }}</p>
                                    <p><strong>Subject:</strong> {{ enquiry.subject }}</p>
                                    <p><strong>Message:</strong> {{ enquiry.message }}</p>
                                    <p><strong>Created On:</strong> {{ enquiry.created_on|date:"F d, Y" }}</p>                                
                                    {% if request.user.is_staff %}
                                    <form action="{% url 'remove_from_enquiry' enquiry.id %}" method="post">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-danger">Remove</button>
                                    </form>
                                    {% endif %}
                                </div>
                                <div class="col-md-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">Enquiry Details</h5>
                                            <p class="card-text"><strong>Name:</strong> {{ enquiry.name }}</p>
                                            <p class="card-text"><strong>Email:</strong> {{ enquiry.email }}</p>
                                            <p class="card-text"><strong>Subject:</strong> {{ enquiry.subject }}</p>
                                            <p class="card-text"><strong>Created On:</strong> {{ enquiry.created_on|date:"F d, Y" }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
                <br>
            </div>
        </div>
    </div>
</div>
{% endblock %}
